In [23]:
import pandas as pd

In [24]:
df=pd.read_csv("weather1.csv")

In [25]:
df.tail(8)

           Day  Temperature   Wind Speed           Event
37  03-04-2018            32         321           cloud
38  04-04-2018            35         351           cloud
39  05-04-2018            22         302           cloud
40  06-04-2018            21         306  not available
41  07-04-2018            23         385  not available
42  08-04-2018            24         300  not available
43  09-04-2018            35         213  not available
44  10-04-2018            22         265  not available

In [26]:
df.tail(1)

           Day  Temperature   Wind Speed           Event
44  10-04-2018            22         265  not available

In [27]:
df

           Day  Temperature   Wind Speed           Event
0   01-01-2018            35         320           Rainy
1   02-01-2018            28         123           cloud
2   03-01-2018            26         156             Hot
3   04-01-2018            29         174  not available
4   05-01-2018            30         185           Rainy
5   06-01-2018            31         169           cloud
6   07-01-2018            32         245             Hot
7   08-01-2018            35         123  not available
8   09-01-2018            40         156           cloud
9   10-01-2018            22         147             Hot
10  11-01-2018            35         563  not available
11  12-01-2018            28         156           cloud
12  13-01-2018            24         412             Hot
13  14-01-2018            26         457           Rainy
14  01-02-2018            32         423           cloud
15  02-02-2018            35         156             Hot
16  03-02-2018            36         148  not available
17  04-02-2018            37         175  not available
18  05-02-2018            35         245           Rainy
19  06-02-2018            22         265             Hot
20  07-02-2018            25         245             Hot
21  08-02-2018            29         231  not available
22  09-02-2018            30         269             Hot
23  10-02-2018            32         269           Rainy
24  11-02-2018            32         247           Rainy
25  01-03-2018            31         258           Rainy
26  02-03-2018            41         265           Rainy
27  03-03-2018            42         236             Hot
28  04-03-2018            43         254             Hot
29  05-03-2018            25         258           cloud
30  06-03-2018            28         236  not available
31  07-03-2018            21         254             NaN
32  08-03-2018            20         245           Rainy
33  09-03-2018            35         285           cloud
34  10-03-2018            45         269           cloud
35  01-04-2018            40         247           Rainy
36  02-04-2018            41         321           cloud
37  03-04-2018            32         321           cloud
38  04-04-2018            35         351           cloud
39  05-04-2018            22         302           cloud
40  06-04-2018            21         306  not available
41  07-04-2018            23         385  not available
42  08-04-2018            24         300  not available
43  09-04-2018            35         213  not available
44  10-04-2018            22         265  not available

In [28]:
df.columns

Index(['Day', 'Temperature ', 'Wind Speed', 'Event'], dtype='object')

In [29]:
print(df["Wind Speed"].tail())

40    306
41    385
42    300
43    213
44    265
Name: Wind Speed, dtype: int64

In [30]:
(df.loc[df["Event"]=="Rainy"])

           Day  Temperature   Wind Speed  Event
0   01-01-2018            35         320  Rainy
4   05-01-2018            30         185  Rainy
13  14-01-2018            26         457  Rainy
18  05-02-2018            35         245  Rainy
23  10-02-2018            32         269  Rainy
24  11-02-2018            32         247  Rainy
25  01-03-2018            31         258  Rainy
26  02-03-2018            41         265  Rainy
32  08-03-2018            20         245  Rainy
35  01-04-2018            40         247  Rainy

In [31]:
df.sort_values("Event")

           Day  Temperature   Wind Speed           Event
19  06-02-2018            22         265             Hot
2   03-01-2018            26         156             Hot
28  04-03-2018            43         254             Hot
27  03-03-2018            42         236             Hot
20  07-02-2018            25         245             Hot
6   07-01-2018            32         245             Hot
12  13-01-2018            24         412             Hot
15  02-02-2018            35         156             Hot
9   10-01-2018            22         147             Hot
22  09-02-2018            30         269             Hot
0   01-01-2018            35         320           Rainy
24  11-02-2018            32         247           Rainy
25  01-03-2018            31         258           Rainy
26  02-03-2018            41         265           Rainy
32  08-03-2018            20         245           Rainy
23  10-02-2018            32         269           Rainy
18  05-02-2018            35         245           Rainy
35  01-04-2018            40         247           Rainy
13  14-01-2018            26         457           Rainy
4   05-01-2018            30         185           Rainy
39  05-04-2018            22         302           cloud
33  09-03-2018            35         285           cloud
1   02-01-2018            28         123           cloud
36  02-04-2018            41         321           cloud
29  05-03-2018            25         258           cloud
34  10-03-2018            45         269           cloud
5   06-01-2018            31         169           cloud
8   09-01-2018            40         156           cloud
11  12-01-2018            28         156           cloud
37  03-04-2018            32         321           cloud
14  01-02-2018            32         423           cloud
38  04-04-2018            35         351           cloud
42  08-04-2018            24         300  not available
40  06-04-2018            21         306  not available
41  07-04-2018            23         385  not available
21  08-02-2018            29         231  not available
43  09-04-2018            35         213  not available
17  04-02-2018            37         175  not available
16  03-02-2018            36         148  not available
10  11-01-2018            35         563  not available
7   08-01-2018            35         123  not available
3   04-01-2018            29         174  not available
30  06-03-2018            28         236  not available
44  10-04-2018            22         265  not available
31  07-03-2018            21         254             NaN

In [32]:
df[["Day","Wind Speed"]]

           Day  Wind Speed
0   01-01-2018         320
1   02-01-2018         123
2   03-01-2018         156
3   04-01-2018         174
4   05-01-2018         185
5   06-01-2018         169
6   07-01-2018         245
7   08-01-2018         123
8   09-01-2018         156
9   10-01-2018         147
10  11-01-2018         563
11  12-01-2018         156
12  13-01-2018         412
13  14-01-2018         457
14  01-02-2018         423
15  02-02-2018         156
16  03-02-2018         148
17  04-02-2018         175
18  05-02-2018         245
19  06-02-2018         265
20  07-02-2018         245
21  08-02-2018         231
22  09-02-2018         269
23  10-02-2018         269
24  11-02-2018         247
25  01-03-2018         258
26  02-03-2018         265
27  03-03-2018         236
28  04-03-2018         254
29  05-03-2018         258
30  06-03-2018         236
31  07-03-2018         254
32  08-03-2018         245
33  09-03-2018         285
34  10-03-2018         269
35  01-04-2018         247
36  02-04-2018         321
37  03-04-2018         321
38  04-04-2018         351
39  05-04-2018         302
40  06-04-2018         306
41  07-04-2018         385
42  08-04-2018         300
43  09-04-2018         213
44  10-04-2018         265

In [33]:
df[["Day","Wind Speed","Event"]]

           Day  Wind Speed           Event
0   01-01-2018         320           Rainy
1   02-01-2018         123           cloud
2   03-01-2018         156             Hot
3   04-01-2018         174  not available
4   05-01-2018         185           Rainy
5   06-01-2018         169           cloud
6   07-01-2018         245             Hot
7   08-01-2018         123  not available
8   09-01-2018         156           cloud
9   10-01-2018         147             Hot
10  11-01-2018         563  not available
11  12-01-2018         156           cloud
12  13-01-2018         412             Hot
13  14-01-2018         457           Rainy
14  01-02-2018         423           cloud
15  02-02-2018         156             Hot
16  03-02-2018         148  not available
17  04-02-2018         175  not available
18  05-02-2018         245           Rainy
19  06-02-2018         265             Hot
20  07-02-2018         245             Hot
21  08-02-2018         231  not available
22  09-02-2018         269             Hot
23  10-02-2018         269           Rainy
24  11-02-2018         247           Rainy
25  01-03-2018         258           Rainy
26  02-03-2018         265           Rainy
27  03-03-2018         236             Hot
28  04-03-2018         254             Hot
29  05-03-2018         258           cloud
30  06-03-2018         236  not available
31  07-03-2018         254             NaN
32  08-03-2018         245           Rainy
33  09-03-2018         285           cloud
34  10-03-2018         269           cloud
35  01-04-2018         247           Rainy
36  02-04-2018         321           cloud
37  03-04-2018         321           cloud
38  04-04-2018         351           cloud
39  05-04-2018         302           cloud
40  06-04-2018         306  not available
41  07-04-2018         385  not available
42  08-04-2018         300  not available
43  09-04-2018         213  not available
44  10-04-2018         265  not available

In [34]:
df.sort_values("Day")

           Day  Temperature   Wind Speed           Event
0   01-01-2018            35         320           Rainy
14  01-02-2018            32         423           cloud
25  01-03-2018            31         258           Rainy
35  01-04-2018            40         247           Rainy
1   02-01-2018            28         123           cloud
15  02-02-2018            35         156             Hot
26  02-03-2018            41         265           Rainy
36  02-04-2018            41         321           cloud
2   03-01-2018            26         156             Hot
16  03-02-2018            36         148  not available
27  03-03-2018            42         236             Hot
37  03-04-2018            32         321           cloud
3   04-01-2018            29         174  not available
17  04-02-2018            37         175  not available
28  04-03-2018            43         254             Hot
38  04-04-2018            35         351           cloud
4   05-01-2018            30         185           Rainy
18  05-02-2018            35         245           Rainy
29  05-03-2018            25         258           cloud
39  05-04-2018            22         302           cloud
5   06-01-2018            31         169           cloud
19  06-02-2018            22         265             Hot
30  06-03-2018            28         236  not available
40  06-04-2018            21         306  not available
6   07-01-2018            32         245             Hot
20  07-02-2018            25         245             Hot
31  07-03-2018            21         254             NaN
41  07-04-2018            23         385  not available
7   08-01-2018            35         123  not available
21  08-02-2018            29         231  not available
32  08-03-2018            20         245           Rainy
42  08-04-2018            24         300  not available
8   09-01-2018            40         156           cloud
22  09-02-2018            30         269             Hot
33  09-03-2018            35         285           cloud
43  09-04-2018            35         213  not available
9   10-01-2018            22         147             Hot
23  10-02-2018            32         269           Rainy
34  10-03-2018            45         269           cloud
44  10-04-2018            22         265  not available
10  11-01-2018            35         563  not available
24  11-02-2018            32         247           Rainy
11  12-01-2018            28         156           cloud
12  13-01-2018            24         412             Hot
13  14-01-2018            26         457           Rainy

In [35]:
df

           Day  Temperature   Wind Speed           Event
0   01-01-2018            35         320           Rainy
1   02-01-2018            28         123           cloud
2   03-01-2018            26         156             Hot
3   04-01-2018            29         174  not available
4   05-01-2018            30         185           Rainy
5   06-01-2018            31         169           cloud
6   07-01-2018            32         245             Hot
7   08-01-2018            35         123  not available
8   09-01-2018            40         156           cloud
9   10-01-2018            22         147             Hot
10  11-01-2018            35         563  not available
11  12-01-2018            28         156           cloud
12  13-01-2018            24         412             Hot
13  14-01-2018            26         457           Rainy
14  01-02-2018            32         423           cloud
15  02-02-2018            35         156             Hot
16  03-02-2018            36         148  not available
17  04-02-2018            37         175  not available
18  05-02-2018            35         245           Rainy
19  06-02-2018            22         265             Hot
20  07-02-2018            25         245             Hot
21  08-02-2018            29         231  not available
22  09-02-2018            30         269             Hot
23  10-02-2018            32         269           Rainy
24  11-02-2018            32         247           Rainy
25  01-03-2018            31         258           Rainy
26  02-03-2018            41         265           Rainy
27  03-03-2018            42         236             Hot
28  04-03-2018            43         254             Hot
29  05-03-2018            25         258           cloud
30  06-03-2018            28         236  not available
31  07-03-2018            21         254             NaN
32  08-03-2018            20         245           Rainy
33  09-03-2018            35         285           cloud
34  10-03-2018            45         269           cloud
35  01-04-2018            40         247           Rainy
36  02-04-2018            41         321           cloud
37  03-04-2018            32         321           cloud
38  04-04-2018            35         351           cloud
39  05-04-2018            22         302           cloud
40  06-04-2018            21         306  not available
41  07-04-2018            23         385  not available
42  08-04-2018            24         300  not available
43  09-04-2018            35         213  not available
44  10-04-2018            22         265  not available

In [36]:
df.describe()

       Temperature   Wind Speed
count     45.000000   45.000000
mean      30.933333  258.444444
std        6.712945   90.668616
min       20.000000  123.000000
25%       25.000000  185.000000
50%       31.000000  254.000000
75%       35.000000  300.000000
max       45.000000  563.000000